<!DOCTYPE html>
<html>
<head>
  <title>chartify.me</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'http://connect.facebook.net/en_US/all.js' %>
  <meta name="viewport" content="width=device-width">
  <script src="/assets/pace.js"></script>
  <script src="/assets/invite.js"></script>
  <script src="/assets/tweetus.js"></script>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <link href="/assets/loader.css" rel="stylesheet" />
</head>
<body>



<% if !current_user %>
<% else %>
<div class="container">

  <div id="sidebar">

    <div class="current-user">
      <% if current_user %>
      <%= image_tag current_user.profile_picture %>
      <div id="name">
        <%= current_user.name %>
      </div>
      <% end %>
      <% if current_user %>
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% end %>

    </div>

    <div id="chartifyarea">
      <label id="chartify-header" for="chartifysearch">friends on chartify</label>
      <input type="search" name="chartifysearch" id="chartifysearch" placeholder="start typing friend" />
      <div id="chartifyField">
      </div>

      <div id="fb-root"></div>
      <button onclick="FacebookInviteFriends();" style="background: #DF314D; padding: 15px; border-radius: 10px; font-size: 12px; color: #FFF; border: 1px solid #FFF">Invite Your Facebook Friends</button>

    <br><br>
    <button onclick="return popitup('https://twitter.com/share?')" style="background: url('https://twitter.com/favicons/favicon.ico') 1px center no-repeat; background: #DF314D; padding: 15px; border-radius: 10px; font-size: 12px; color: #FFF; border: 1px solid #FFF">Tweet About Us!</button>


    </div>



  </div>
    <% end %>
  <div class="main-content">
    <a href="#" data-toggle=".container" <%= current_user ? "": 'style='+'background:#ccc;' %> id="sidebar-toggle">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
    <div id="header">
      <div id="logo">
        <%= image_tag "chartify-logo.png" %>
      </div>
    </div>
    <%= yield %>
  </div>
</div>

</body>
</html>
